
  $white: #ffffff;
  $black: #000000;
  $home-slytherin: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
  $home-ravenclaw: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
  $home-hufflepuff: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
  $home-gryffindor: linear-gradient(135deg, #ff0000 0%, #fed482 100%);
  $primary-button: rgba(0, 0, 0, 0.6);
  $hover-button: rgba(107, 99, 181, 0.6);
  $active-button: #6b63b5;
  $secondary-font: #081f32;
  $third-font: #999999;
  $quarter-font: #374A59;
  $sm: 14px;
  $md: 30px;
  $lg: 36px;

