@import "./vars";


.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    place-content: center;
    margin: 5vh ;
    box-sizing: border-box;
    
  }
  .content-card {
    width: 515px;
    height: 265px;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    justify-content: center;
  }
  .card-pic {
    background: $home-gryffindor;
    border-radius: 16px 0 0 16px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-pic img {
    border-radius: 50%;
  }
  .card-info {
    background-color: $white;
    border-radius: 0 16px 16px 0;
    width: 305px;
    display: flex;
  }
  .card-info ul {
    list-style: none;
    padding: 16px;
    margin: 0;
    width: 100%;
    max-height: 265px;
  }
  
  .card-info .state-student {
    display: flex;
    justify-content: space-between;
  }
  .state-student span {
    color: $third-font;
    font-weight: 600;
    font-size: $sm;
    line-height: 19px;
  }
  .info-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    line-height: 27px;
  }
  .card-info h3 {
    color: $secondary-font;
    font-weight: 600;
    font-size: $md;
    line-height: 46px;
    margin: 0;
    padding: 12px 0;
  }
  .card-form .clave {
    color: $quarter-font;
    font-weight: bold;
    font-size: $sm;
    margin: 0;
  }
  .card-form span {
    color: $quarter-font;
    font-weight: 400;
    font-size: $sm;
  }
  @media (max-width: 393px){

  .content-card {
    flex-direction: column;
    height: 181px;
    width: 100%;
  }
  .card-pic {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
  .card-info {
    width: 100%;
    border-radius: 0px 0px 16px 16px;
  }
  .card-form{
      display: none;
  }
  }