@import "./vars";

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  place-content: center;
 
  box-sizing: border-box;
  grid-gap: 40px;
}
.content-card {
  width: 100%;
  height: 28vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  place-content: center;
  &.content-card--gryffindor .card-pic {
    background: $home-gryffindor;
  }
  &.content-card--slytherin .card-pic {
    background: $home-slytherin;
  }
  &.content-card--hufflepuff .card-pic {
    background: $home-hufflepuff;
  }
  &.content-card--ravenclaw .card-pic {
    background: $home-ravenclaw;
  }
 
  .card-pic {
    border-radius: 16px 0 0 16px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
  }
}

.card-pic img {
  border-radius: 50%;
  width: 12vw;
  height: 18vh;
}
.card-info {
  background-color: $white;
  border-radius: 0 16px 16px 0;
  width: 70%;
  display: flex;
  &.content-card--alive {
    background: $alive;
  
  }
}
.card-info ul {
  list-style: none;
  padding: 16px;
  margin: 0;
  width: 100%;
  max-height: 265px;
}

.state-item {
  display: flex;
  justify-content: space-between;

  & span {
    color: $third-font;
    font-weight: 600;
    font-size: $sm;
    line-height: 19px;
  }
  & img {
    cursor: pointer;
  }
}

.info-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  line-height: 27px;
}
.card-info h3 {
  color: $secondary-font;
  font-weight: 600;
  font-size: $md;
  line-height: 46px;
  margin: 0;
  padding: 12px 0;
}
.card-form .clave {
  color: $quarter-font;
  font-weight: bold;
  font-size: $sm;
  margin: 0;
}
.card-form span {
  color: $quarter-font;
  font-weight: 400;
  font-size: $sm;
}
@media (max-width: 1000px) {
  .content-card {
    flex-direction: column;
    .card-pic {
      width: 100%;
      height: 40%;
      border-radius: 16px 16px 0 0;
      & img{
          height: 8vh;
      }
    }
    .card-info {
      width: 100%;
      height: 60%;
      border-radius: 0px 0px 16px 16px;
      .card-header h3 {
        font-size: $sm;
        line-height: 15px;
        text-align: center;
      }
      .card-header li {
        font-size: $sm;
      }
      .card-header img {
        height: 20px;
        width: 20px;
      }
    }
    .card-form {
      display: none;
    }
  }
}
