@import "./vars";

.filter {
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.primary-button {
  background-color: $primary-button;
  border-radius: 4px;
  width: 288px;
  height: 67px;
  border: 4px solid $active-button;
  color: $white;
  font-weight: 600;
  &:hover {
    background-color: $hover-button;
  }
  &:active {
    background-color: $active-button;
  }
}
