@import "./vars";
.modal-shadow{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .7);
  .modal-container{
    max-width: 600px;
    width: 100%;
  }
}
.modal-container {
  background-color: $white;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  .modal-title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-weight: 600;
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    .form-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
     
      .section-div {
        display: grid;
        width: 100%;
        margin-bottom: 12px;
     
        .form-radio{
          display: flex;
          gap: 2px;
          
       .input-radio{
         display: flex;
        
       }
        }
      }
    }

    input {
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 1px solid $line-input;
      font-size: $sm;
      margin-bottom: 5px;
      outline: none;
      height: 43px;
      width: 80%;
      background-color: rgba(38, 50, 56,0.1 );
    }

    .radio {
      height: 15px;
      width: 15px;
      font-size: 12px;
    }
    .content-btn {
      display: flex;
      justify-content: center;
      margin: 20px;
    }
  }


}
@media (min-width: 395px) {
  .modal-container{
    width: 50%;
  }
}
